.food-card{
    border: 2px solid rgb(230, 3, 3);
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    
}

.food-card img {

    width: 100%;
   border-radius: 8px;
   margin: 10px 0px;
}

.food-card button {
    background-color: black;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 12px;
    transition: 0.3s;
}

.food-card button:hover {
    background-color: red;
}