.foods-parent-container{

    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.foods-container{

    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
 
    width: 75%;

}

.cart-container{

  
    width: 25%;
}